.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#gallery {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

footer p a {
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
}

#namaegi a:hover {
  text-decoration: underline;
}
